absl-py==0.8.0
asgiref==3.2.3
astor==0.8.0
astroid==2.3.3
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
Cython==0.29.13
darkflow==1.0.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.2
django-crispy-forms==1.8.1
django-heroku==0.3.1
docutils==0.15.2
EasyProcess==0.2.10
entrypoint2==0.2
future==0.18.2
gast==0.3.2
google-pasta==0.1.7
grpcio==1.23.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.8
isort==4.3.21
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
matplot==0.1.9
matplotlib==3.1.1
mccabe==0.6.1
MouseInfo==0.1.3
numpy==1.17.2
opencv-python==4.1.1.26
pandas==0.25.1
Pillow==6.2.1
pkginfo==1.5.0.1
plotly==4.1.0
protobuf==3.9.1
psycopg2==2.8.5
PyAutoGUI==0.9.50
PyGetWindow==0.0.8
Pygments==2.4.2
pylint==2.4.4
pyloco==0.0.139
PyMsgBox==1.0.7
pyparsing==2.4.2
pyperclip==1.8.0
PyRect==0.1.4
pyscreenshot==1.0
PyScreeze==0.1.26
PySimpleGUI==4.5.0
python-barcode==0.10.0
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
retrying==1.3.3
SimpleWebSocketServer==0.1.1
six==1.12.0
sqlparse==0.3.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
tkintertable==1.3.2
tqdm==4.36.0
twine==1.15.0
typed-ast==1.4.1
typing==3.7.4.1
urllib3==1.25.3
ushlex==0.99.1
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.16.0
whitenoise==5.0.1
wrapt==1.11.2
